<div class="container">
  <div class="card-category mb-4 mt-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/apointil/image/upload/v1645183766/qwacq9hponrj9qdbei6w.jpg)">
    Movie Lists
  </div>
  <div class="content mx-auto">
    <ul class="list-group mb-4">
      <% @lists.each do |list| %>
        <%= link_to list_path(list) do %>
          <li class="list-group-item"><%= list.name %></li>
        <% end %>
      <% end %>
    </ul>
    <%= link_to 'Create a list', new_list_path, class: "btn btn-primary" %>
  </div>
</div>
